.search-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0px 10px;
    gap: 10px;
    padding-top: 100px;
}

.search-results > * {
    width: 100%
}

.search-results > *:hover {
    width: 100%
}

.search-results > * > * {
    width: 100%
}